#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
}

.contentContainer {
  margin-top: 1%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customCard {
  background-color: #000000;
  padding: 1.5rem;
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width:500px) {

  #root {
    padding: 0.5rem;
  }

  .square {
    width: 40px;
    height: 40px;
  }

  .customCard {
    padding: 1.0rem;
    border-radius: 0;
  }
   
  h1{
    font-size: x-large;
  }

}